body {
  margin: 2em;
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(183, 223, 217);
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.borderimg {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(border.jpg) 30% repeat; /* Safari 3.1-5 */
  -o-border-image: url(border.jpg) 30% repeat; /* Opera 11-12.1 */
  border-image: url(border.jpg) 30% repeat;
}

.borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(./images/border2.png) 35% repeat; /* Safari 3.1-5 */
  -o-border-image: url(./images/border2.png) 35% repeat; /* Opera 11-12.1 */
  border-image: url(./images/border2.png) 35% repeat;
}

button:hover, #sub:hover{
  cursor: pointer;
 }
